{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Agenda
{% endblock %}

{% block extra_styles %}
<style>
    /* estilo para lidar com conflito do boostrap */
    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }

    #calendar a {
        text-decoration: none;
        color: black;
    }

    /* Estilo para os eventos no calendário */
    .fc-event {
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    /* Efeito de hover nos eventos */
    .fc-event:hover {
        background-color: #007bff;
        color: white;
    }

    /* Efeito de hover nas células do mês */
    .fc-daygrid-day {
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .fc-daygrid-day:hover {
        background-color: #f0f0f0;
    }

    /* Efeito de hover e cursor pointer nas células de hora na visualização de semana e dia (TimeGrid) */
    .fc-timegrid-slot {
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .fc-timegrid-slot:hover {
        background-color: #f0f0f0;
    }

    /* Efeito de hover e cursor pointer nas células de hora na visualização de lista (ListView) */
    .fc-list-item {
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .fc-list-item:hover {
        background-color: #f0f0f0;
    }

    /* Para ajustar o cursor e o hover na barra de navegação do calendário (botões de navegação) */
    .fc-prev-button,
    .fc-next-button,
    .fc-today-button {
        cursor: pointer;
    }

    .fc-prev-button:hover,
    .fc-next-button:hover,
    .fc-today-button:hover {
        background-color: #f0f0f0;
    }
</style>
{% endblock %}

{% block conteudo %}
<div class="d-flex">
    {% include 'sidebar.html' %}
    <div class="calendar-container flex-grow-1 p-4">
        <div id="calendar"></div>
    </div>
</div>

{% include 'agenda-modal-cadastro.html' %}

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'fullcalendar/dist/index.global.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.2/locales/pt-br.min.js"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}