{% extends "base.html" %}

{% load static %}

{% block titulo %}
Orçamentos
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Filtrar tabela
        const pesquisaInput = document.getElementById('pesquisa');
        const tabelaClientes = document.getElementById('tabela-orcamento');

        pesquisaInput.addEventListener('input', function () {
            const filtro = pesquisaInput.value.toLowerCase();
            const linhas = tabelaClientes.getElementsByTagName('tr');

            for (const linha of linhas) {
                const nomeCliente = linha.cells[0].textContent.toLowerCase();
                if (nomeCliente.includes(filtro)) {
                    linha.style.display = '';
                } else {
                    linha.style.display = 'none';
                }
            }
        });
    });
</script>
{% endblock %}

{% block conteudo %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Orçamentos</h1>

    <div class="row mb-3">
        <div class="col-md-9">
            <input type="text" id="pesquisa" class="form-control" placeholder="Pesquisar orçamento por nome...">
        </div>
        <div class="col-md-3 text-md-end mt-2 mt-md-0">
            <a href="{% url 'cadastrar_orcamento' %}" class="btn btn-primary">Cadastrar Orçamento</a>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Anaminésia</th>
                <th>Preço</th>
                <th>Valor pago</th>
                <th class="text-end">Ações</th>
            </tr>
        </thead>
        <tbody id="tabela-orcamento">
            {% for orcamento in orcamentos %}
            <tr>
                <td>{{ orcamento.cliente }}</td>
                <td>{{ orcamento.anaminesia }}</td>
                <td>R$ {{ orcamento.preco }}</td>
                <td>R$ {{ orcamento.pago }}</td>
                <td class="text-end">
                    <a href="{% url 'editar_orcamento' orcamento.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#excluirOrcamentoModal{{ orcamento.id }}">Excluir</button>
                </td>
            </tr>

            <div class="modal fade" id="excluirOrcamentoModal{{ orcamento.id }}" tabindex="-1"
                aria-labelledby="excluirOrcamentoModalLabel{{ orcamento.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'excluir_orcamento' orcamento.id %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="excluirOrcamentoModalLabel{{ orcamento.id }}">Excluir
                                    Orçamento</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Tem certeza de que deseja excluir o orçamento <strong>{{ orcamento.titulo }}</strong>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhum orçamento cadastrado.</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}